/* Base Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: #333;
    background: #e0f7fa;
    transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
    color: #e0f7fa;
    background: #333;
}

a {
    text-decoration: none;
    color: inherit;
    transition: color 0.3s;
}

a:hover {
    color: #007c91;
}

/* Header */
header {
    background: #00acc1;
    color: #fff;
    padding: 2em 0;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

header.dark-mode {
    background: #005f73;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
    letter-spacing: 2px;
    color: #fff;
}

header p {
    font-size: 1.2em;
    margin: 0.5em 0 0;
    color: #f0f8ff;
}

header .profile-photo {
    display: block;
    margin: 1em auto;
    max-width: 200px;
    height: auto;
    border-radius: 50%;
    border: 5px solid #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Navigation */
nav ul {
    list-style: none;
    padding: 0;
    margin: 1em 0 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

nav ul li {
    margin: 0 0.5em;
}

.nav-link {
    color: #00acc1;
    text-decoration: none;
    padding: 0.5em 1em;
    background-color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    font-weight: bold;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.nav-link:hover {
    background-color: #00acc1;
    color: #fff;
    transform: translateY(-3px);
}

/* Main Content */
main {
    padding: 2em;
    max-width: 1200px;
    margin: 0 auto;
}

section {
    margin: 2em 0;
    background: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s, color 0.3s;
}

section.dark-mode {
    background: #444;
    color: #e0f7fa;
}

section:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
}

h2 {
    text-align: center;
    color: #00acc1;
    font-size: 2em;
    margin-bottom: 1em;
    position: relative;
}

h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background: #00acc1;
    margin: 0.5em auto;
}

h3 {
    color: #00acc1;
    font-size: 1.5em;
    margin-top: 1em;
}

.about-content {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.about-description p {
    color: #333;
    text-align: justify;
    line-height: 1.6;
    font-size: 1.1em;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
}

ul li {
    background: #00acc1;
    color: #fff;
    margin: 0.5em;
    padding: 0.5em 1em;
    border-radius: 3px;
    transition: background 0.3s, transform 0.3s;
}

ul li:hover {
    background: #007c91;
    transform: translateY(-3px);
}

.project {
    margin: 1em 0;
    padding: 1em;
    border-left: 5px solid #00acc1;
}

.project h3 {
    margin-top: 0;
    color: #00acc1;
}

.project p {
    font-size: 1em;
    line-height: 1.5;
    color: #333;
}

.project a {
    text-decoration: none;
    color: #00acc1;
    font-weight: bold;
    transition: color 0.3s;
}

.project a:hover {
    color: #007c91;
}

/* Social Media */
.social-media {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;
}

.social-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    background-color: #00acc1;
    padding: 0.5em 1em;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s, transform 0.3s;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.social-link:hover {
    background-color: #007c91;
    transform: translateY(-3px);
}

/* Footer */
footer {
    background: #e0f7fa;
    color: #333;
    text-align: center;
    padding: 1em 0;
    margin-top: 2em;
}

footer.dark-mode {
    background: #333;
    color: #e0f7fa;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    display: inline;
    margin: 0 1em;
}

footer ul li a {
    color: #00acc1;
    text-decoration: none;
    font-weight: bold;
}

footer p {
    margin: 1em 0 0;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        text-align: center;
    }

    nav ul li {
        display: block;
        margin: 0.5em 0;
    }

    .social-media {
        flex-direction: column;
        gap: 0.5em;
    }
}

#certifications {
    margin-bottom: 2em;
}

#certifications h2 {
    color: #00acc1;
    font-size: 2em;
    text-align: center;
    margin-bottom: 1em;
    position: relative;
}

#certifications h2::after {
    content: '';
    display: block;
    width: 60px;
    height: 4px;
    background: #00acc1;
    margin: 0.5em auto;
}

#certifications ul {
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1em;
}

#certifications ul li {
    margin-bottom: 0.5em;
    font-size: 1.1em;
    background: none;
    padding: 0;
}

.certification-logo {
    width: 50px;
    height: auto;
    margin-right: 10px;
}

.certification-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.certification-badge {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: none;
    background: none;
}

#visitor-counter {
    margin-top: 20px;
}